.header {
    background-color: black;
    display: flex;
    align-items: center;
    height: 150px;
}

.header > div:nth-child(2) {
    width: 100%;
    margin: 0 100px;
}

.header-logo {
    width: 350px;
    margin: 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.header-nav > a {
    color: white;
    text-decoration: inherit;
    font-size: x-large
}