.home {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.home-dashboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 75px;
}

.home-dashboard > h1, .home-dashboard > p {
    margin: 0;
}

.home-dashboard-stats {
    display: flex;
    justify-content: space-between;
}

.home-dashboard-stats-charts {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home-dashboard-stats-charts_bar {
    border-radius: 10px;
    background-color: #eeeeee;
    flex: 1;
}

.home-dashboard-stats-charts-cards {
    display: flex;
    gap: 10px;
    flex: 1;
}

.home-dashboard-stats-charts-cards > div {
    border-radius: 10px;
    flex: 1;
}

.home-dashboard-stats-cards {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.home-dashboard-stats-charts-cards_radar {
    background-color: #282D30;
}

.home-dashboard-stats-charts-cards_radial {
    background-color: #eeeeee;
}
